@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
    --color-accent: #0798d1;
    --color-bg: #100721;
    --color-fg3: #4c376f;
    --color-fg2: #c6b9dc;
    --color-fg: #ffffff;

    --font-display:
        "Cormorant Garamond", "EB Garamond", "Garamond", "Times New Roman", Times, serif;
    --font-code: "SF Mono", "Liga SFMono Nerd Font", "JetBrains Mono", "JetBrainsMono Nerd Font", "Cascadia Mono", Consolas, monospace;
}

body {
    width: 100%;
    height: 100%;
    background-color: #100721;
    background: #100721;
    color: var(--color-fg);
    font-family:
        "Montserrat",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 500;
    overflow-x: hidden;
}

* {
    scrollbar-color: var(--color-fg3) #1d0e38;
}

.bettertext {
    font-weight: 500;
    /* letter-spacing: -0.96px; */
}

.noise {
    background: url("/noise.png");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cormorant Garamond", "EB Garamond", "Garamond", "Times New Roman", Times, serif;
}

.btn {
    background: var(--color-accent);
    box-shadow: 0 4px 0 0 #422670;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    gap: 6px;
    align-items: center;
    transition: ease 100ms;
    color: var(--color-bg);
    font-weight: 600;
    /* width: fit-content; */
    cursor: pointer;
}

.depth {
    box-shadow: 0 4px 0 0 #422670;
}

.btn:hover,
.depth-pressed {
    transform: translateY(4px);
    box-shadow: none;
    filter: brightness(0.8);
}

a {
    transition: ease 100ms;
    text-decoration: none;
}

a:hover {
    filter: brightness(0.8);
}

@media print {
    .nav {
        display: none
    }

}

code {
    font-family: var(--font-code);
}